<!-- DNS preconnect -->
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="dns-prefetch" href="https://fonts.googleapis.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">

<!-- Early font preload: start downloading Google Fonts CSS from <head> -->
{{$pf := site.Params.variables.primary_font | default "Poppins:wght@400;500;600;700"}}
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family={{$pf}}&display=swap">
{{with site.Params.variables.secondary_font}}
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family={{.}}&display=swap">
{{end}}

<!-- Critical CSS: core stylesheet inlined (no network request, no render blocking) -->
{{ $criticalCSS := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS | minify }}
<style>{{ $criticalCSS.Content | safeCSS }}</style>

<!-- Non-critical plugin CSS: loaded async to avoid blocking LCP/FCP -->
{{ $asyncStyles := slice }}
{{ range site.Params.plugins.css }}
{{ if findRE "^http" .link }}
<link rel="preload" as="style" href="{{ .link | absURL }}">
<link crossorigin="anonymous" rel="stylesheet" href="{{ .link | absURL }}" media="print" onload="this.media='all'" {{.attributes | safeHTMLAttr}}>
{{ else }}
{{ $asyncStyles = $asyncStyles | append (resources.Get .link) }}
{{ end }}
{{ end }}
{{ if gt (len $asyncStyles) 0 }}
{{ $asyncBundle := $asyncStyles | resources.Concat "/css/plugins.css" | minify | fingerprint "sha512" }}
<link rel="preload" as="style" href="{{ $asyncBundle.RelPermalink }}">
<link rel="stylesheet" href="{{ $asyncBundle.RelPermalink }}" media="print" onload="this.media='all'" integrity="{{ $asyncBundle.Data.Integrity }}">
<noscript><link rel="stylesheet" href="{{ $asyncBundle.RelPermalink }}" integrity="{{ $asyncBundle.Data.Integrity }}"></noscript>
{{ end }}
